body{
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{

    font-family:'Lato', sans-serif;
    font-family: 'Open Sans' sans-serif;
    font-family: 'PT Sans' sans-serif;
    box-sizing: border-box;
}

form{
    width: 500px;
    border: 2px, solid black;
    padding: 3rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 0, 0));
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

h1{
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

label{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;
    font-weight: 300;
}

input{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button {
    display: flex;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 140%;
    border-radius: 5px;
    margin-bottom: 20px; /* Espacio entre el botón y el enlace */
    margin-top: 15px;
}
button:hover {
    background-color: rgb(181, 248, 179);
    color: black;
}
a {
    text-align: center;
    display: block; /* Para que ocupe el ancho completo */
    margin: 0 auto; /* Centra el enlace */
    padding: .5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
a:hover {
    color: rgb(166, 238, 148);
}

.error{
    background-color: rgb(255, 45, 45);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

hr{
    border: 1px solid rgb(94, 85, 85);
}